<footer class="footer">
        <div class="center" style="text-align: center">
            <a href="https://github.com/elvizlai" target="_blank"><i class="icon big github"></i></a>
            <a href="http://weibo.com/sdrzlyz" target="_blank"><i class="icon big weibo"></i></a>
        </div>
        <div style="color: #999;text-align: center">
            <a style="">© 2015 ElvizLai</a>
            <a class="alignright" style="right: 12px;color: darkgray;position: absolute">IP访问量:{{$.visitCount}}</a>
        </div>
</footer>